@import './base.css';

#app {
  /*max-width: 1280px;*/
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.custom-menu {
  height: 40px;
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  background-color: hsla(207, 59%, 47%, 0.2);
}

.p-menuitem {
  margin-left: 20px;
  margin-right: 20px;
  margin-top:10px
}

.cm-editor{
  margin-left: 1%;
  border: 1px solid black;
  flex-basis: 50%;
  height: 500px;
}

.p-button-custom {
  margin-top:10px;
  margin-left:10px;
  border-radius: 50px;
  height: 35px; 
  width: 100px;
}

.code-container{
  display: flex;
  flex-wrap: wrap;
}

.result{
  margin-left: auto;
  margin-right: 1%;
  border: 1px solid black;
  flex-basis: 42%
}

.query-area{
  margin-top: 10px;
  margin-left: 1%;
  flex-basis: 50%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 1000px) {
  
  .code-container{
   display: flex;
   flex-direction: column;
  }

  .cm-editor{
    margin-left: 1%;
    width: 98%;
    height: 400px;
    border: 1px solid black; 
    order: 1;
  }

  .result{
    margin-left: 1%;
    width: 98%;
    border: 1px solid black;
    order: 3;
    margin-top: 10px;
  }

  .query-area{
    margin-top: 10px;
    margin-left: 1%;
    width: 98%;
    order: 2; 
  }

  .v-codemirror {
    display: unset !important;
  }

}